.user {
    margin-top: 5%;
    width: 50%;
    height: 200px;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.details{
    height: 80%;
}
.buttons{
    height: 20%;
}